html, body {
	margin: 0;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

#loading {
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	transition: opacity .5s ease-in !important;
	-webkit-transition: opacity .5s ease-in !important;
	background: url(../img/loading.gif) center center no-repeat;
	background-color: #000;
}

#counter {
	padding: 2rem;
	color: white;
	font-size: 2.5rem;
}